<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zorgboerderij</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Zorgboerderij.styles.css" asp-append-version="true" />
</head>
<body style="min-height: 90vh; display: flex; flex-direction: column;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="d-flex justify-content-center w-100" style="margin-left: 305px;">
                <img src="~/images/LogoBoerderij.png" class="img-fluid" style="width: 350px;">
            </div>
            @await Html.PartialAsync("_PartialLayout")
        </nav>
    </header>
    <div class="container" style="flex: 1;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted"">
        <div class="container text-center py-3">
            <b>Gebruikersovereenkomst:</b> Demo Planbord ICT@Work | ICT@School
        </div>
    </footer>
    <script src="/js/search.js"></script>
    <script src="/js/toggleDetails.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
